<%= image_tag @zen.photo.url(:full) %>
<h1><%= @zen.title %></h1>
<p><%= @zen.description %></p>
<p>Submitted by: <%= @current_user.email %></p>

<%= link_to "Back", root_path %>
<%= link_to "Delete", delete_zen_path, method: :delete, data: { confirm: "Are you sure?"} %>
