<h1>Sign Up</h1>

<%= simple_form_for @user do |f| %>
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email Address", input_html: {class: "form-control"} %>
    <%= f.input :username, required: true, autofocus: true, label: false, placeholder: "Username", input_html: {class: "form-control"} %>
    <%= f.input :password, required: true, label: false, placeholder: "Password", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"} %>
    <%= f.button :submit, "Sign Up", class: "btn btn-primary btn-block" %>
    <% end %>

<%= link_to "Already A Member? Sign In.", sign_in_path %>
